h1{
    text-align:center;
}

.title{
    display: flex;
}


nav{
        text-align:center;
    
    }
    
    nav a{
        padding: 15px;
        padding-bottom:4px;
        font-size:1.8em;
        text-decoration: none;
        color:black;
        
    }
    
    nav a:hover{
        border-bottom:2px;
        font-size:2em;
        transition:.9s;
    }
    
    #aboutme{
        padding-top: 5%;
        padding-left:50%;
        font-size: 30px;
        font-weight: bold;
    }
    #description{
        padding-top: 1%;
        padding-left: 50%;
        padding-right: 10%;
    }